<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<servlet>
		<servlet-name>registerServlet</servlet-name>
		<servlet-class>com.dragon.servlet.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>registerServlet</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ActiveServlet</servlet-name>
		<servlet-class>com.dragon.servlet.ActiveServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActiveServlet</servlet-name>
		<url-pattern>/ActiveServlet</url-pattern>
	</servlet-mapping>
</web-app>  
